<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="parent">
        <p>Parent</p>
        <form novalidate>
          <div class="form-group">
            <input type="text" class="form-control" name="value" [(ngModel)]="service.value" />
          </div>
        </form>
        <div class="mt-4">
          <!-- <app-child class="mt-4"></app-child> -->
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
