<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
        <fieldset class="my-2" formGroupName="name">
          <div class="row">
            <div class="col-md-6">
              <div
                class="form-group m-0"
                [ngClass]="{
                  'alert alert-danger': firstName.invalid && (firstName.dirty || firstName.touched),
                  '': firstName.valid && (firstName.dirty || firstName.touched)
                }"
              >
                <label>First Name</label>
                <input type="text" class="form-control" formControlName="firstName" required />
                <div class="text-danger" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
                  <p *ngIf="firstName.errors['required']">First Name is required</p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div
                class="form-group m-0"
                [ngClass]="{
                  'alert alert-danger': lastName.invalid && (lastName.dirty || lastName.touched),
                  '': lastName.valid && (lastName.dirty || lastName.touched)
                }"
              >
                <label>Last Name</label>
                <input type="text" class="form-control" formControlName="lastName" required />
                <div class="text-danger" *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
                  <p *ngIf="lastName.errors['required']">Last Name is required</p>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <div
          class="form-group my-2"
          [ngClass]="{
            'alert alert-danger': email.invalid && (email.dirty || email.touched),
            '': email.valid && (email.dirty || email.touched)
          }"
        >
          <label>Email</label>
          <input type="email" class="form-control" formControlName="email" required />
          <div class="text-danger" *ngIf="email.errors && (email.dirty || email.touched)">
            <p *ngIf="email.errors['required']">Email is required</p>
            <p *ngIf="email.errors['pattern']">The email address must contain at least the &#64; character</p>
          </div>
        </div>

        <div
          class="form-group my-2"
          [ngClass]="{
            'alert alert-danger': password.invalid && (password.dirty || password.touched),
            '': password.valid && (password.dirty || password.touched)
          }"
        >
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password" required />
          <div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
            <p class="text-danger" *ngIf="password.errors['required']">Password is required</p>
            <p class="text-danger" *ngIf="password.errors['minlength']">
              Password must be 8 characters long, we need another
              {{ password.errors["minlength"].requiredLength - password.errors["minlength"].actualLength }} characters
            </p>
          </div>
        </div>

        <div
          class="form-group my-2"
          [ngClass]="{
            'alert alert-danger': language.invalid && (language.dirty || language.touched),
            '': language.valid && (language.dirty || language.touched)
          }"
        >
          <label>Language</label>
          <select class="form-control" formControlName="language">
            <option value="">Please select a language</option>
            <option *ngFor="let lang of langs" [value]="lang">{{ lang }}</option>
          </select>
        </div>

        <button [disabled]="!myForm.valid" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
