.img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  img{
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 50%;
  }
}
.list-group-item{
  display: flex;
  align-items: center;
  gap: 5px;
  a{
    color: #000;

  }
}